@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap:0.01rem;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 70px;
  padding-right:1px;
 
}
.card img{
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}
.card:hover img{
  z-index: 0;
  transform:scale(1.1) translateY(-20px);
  opacity:0.3;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(30rem, calc(1rem + 10vw), 20rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  display: inline-block;
  

}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  display: inline-block;
  
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;

}

.tag + .tag {
  margin-left: .5em;
 
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
  height:15px;
  width:15px;
  display: inline-block;
 
}
.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
  height:15px;
  width:15px;
  display: inline-block;

}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;

}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
.a> small {
  color: #666;
  display:flex;
}
.b> small {
  color: #666;
}
.user__infoo > small {

display: flex;

}

.popup-header{
  display:flex;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  border-bottom: 2px solid black;
  float: right;
  color: white;
  
}

.info { 
  position:absolute;
  top:75%;
  width:35%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  transform:translateY(30px);
  opacity: 1;
  

}
h5{
  display: flex;
}
.card:hover.card__header info{
  transform:translateY(0);
  opacity: 1;
}
.info:hover{
  background: #0e6290;
  height: 2px;
}

